
.App {
  text-align: left;
  /*background-image: url('./img/headerbanner_events.jpg');*/
  font-family: 'poppins', sans-serif !important;
}

.App .container{
  opacity: 0.9;
  padding: 2rem;
}

.page-title{
  font-size: larger;
  font-weight: 700;
}
 
.App-logo {
  height: 40vmin;
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #32eebf;
}
 
body{
  background: #ffffff;
}
 


@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%;  }  }
